// MIN and MAX MEDIA QUERIES

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// Large devices (desktops, 992px and up)
@media (max-width: 1200px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 992px) {
/* HEADER BOTTOM */
    .header-bottom {
        flex-wrap: wrap;
    }
    .header-bottom__block {
        width: 49%;
        justify-content: center;
    }
/* FOOTER */
    .footer-container {
        height: 50vh;
        min-height: 500px;
    }
/* MAIN PEOPLE */
    .people {
        min-height: 700px;
    }
/* FOOTER LINKS */
    .links__input .mail {
        width: 50%;
    }
    .row-before {
        span {
            display: none;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) {
/* HEADER MENU */
    .header-container {
        min-height: 550px;
    }
    .menu__links {
        display: none;
    }
    .menu__burger {
        display: block;
    }
/* MAIN ABOUT US */
    .about-us {
        height: auto;
    }
/* MAIN SERVICES */
    .services {
        height: auto;
    }
    .services__element {
        width: 50%;
    }

    .line {
        width: 100%;
        height: 1px;
        margin: 2% 0;
        opacity: 0.5;
        background: #999999;
        &._top {
            display: block;
        }
        &._mid {
            display: none;
        }
        &._bot {
            display: block;
        }
    }
/* MAIN DESIGN */
    .design {
        height: auto;
    }
    .design__obj {
        width: 100%;
        height: 60vh;
        position: relative;
    }
/* WHAT WE DO ACCORDION */
    .waht-we-do__content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .waht-we-do__block {
        width: 250px;
        height: 250px;
        overflow-x: none;
        margin: 0;
        border-radius: 50%;
    }
    .accordion {
        margin-top: 30px;
        width: 100%;
        max-width: 600px;
    }
/* MAIN FEEDBACK */
    .statistick-row, .sponsors, .map {
        height: 20vh;
    }
/* MAIN PEOPLE */
    .reviews__img {
        width: 100px;
        height: 100px;
        .i4 {
            object-position: 27.5% 10%;
        }
    }
    .people {
        height: auto;
    }
/* OUR WORK GALLERY */
    .galgrid {
        grid-template-columns: repeat(2, 1fr);
    }
    .galgrid__pos {
        &.pos-1 {
            grid-area: 1/1/2/2;
        }
        &.pos-2 {
            grid-area: 1/2/2/3;
        }
        &.pos-3 {
            grid-area: 3/1/5/2;
        }
        &.pos-4 {
            grid-area: 3/2/4/3;
        }
        &.pos-5 {
            grid-area: 2/1/3/2;
        }
        &.pos-6 {
            grid-area: 2/2/3/3;
        }
        &.pos-7 {
            grid-area: 4/2/5/3;
        }
    }
/* MAIN SPONSORS */
    .sponsors {
        height: auto;
        .sponsors-case {
            flex-flow: wrap;
            justify-content: center;
            .sponsors__item {
                width: 33.333%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
/* PEOPLE REVIEWS */
    .reviews__item {
        width: 50%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        position: relative;
    }
    .reviews__img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(10%);
    }
    .reviews__text {
        width: 80%;
        i::after {
            margin: 30px 0;
        }
    }
/* FOOTER LINKS */
    .row-before {
        flex-wrap: wrap;
        justify-content: center;
        span {
            display: none;
        }
        .fab {
            margin: 0 5%;
        }
    }
/* FOOTER BLOGS */
    .blogs__item {
        flex-flow: column nowrap;
        .blogs__text {
            width: 100%;
            margin-left: 0;
        }
        &:hover {
            background: none;
            .blogs__text {
                background: #95e1d3;
            }
        }
    }
    .blogs__img {
        width: 50%;
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}

// My intermediate braikpoint
@media (max-width: 596px) {
/* HEADER BOTTOM */
    .header-bottom {
        display: none;
    }
/* MAIN STATISTICK */
    .statistick-row__block {
        font-size: 16px;
    }
    .statistick-row__block_bold {
        font-size: 35px;
    }
/* ABOUT US GALLERY */
    .gallery {
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .gallery__block {
            width: 80%;
            &:nth-child(2){
                margin: 5% 0;
            }
        }
    }
    .gallery-case {
        width: 80%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        &:nth-child(2){
            margin: 0 15px;
        }
    }
    .gallery__name {
        margin: 10px 0px 25px;
    }
/* MAIN FEEDBACK */
    .feedback {
        height: 40vh;
        min-height: 330px;
        padding: 0 15px;
    }
    .feedback__text {
        font-size: 16px;
    }
/* MAIN SPONSORS */
    .sponsors {
        .sponsors-case {
                .sponsors__item {
                    width: 40%;
                    height: 33.333%;
            }
        }
    }
/* OUR WORK GALLERY */
    .galgrid__logo {
        h2 {
            font-size: 16px;
        }
    }
/* PEOPLE REVIEWS */
    .reviews {
        width: 100%;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .reviews__item {
        width: 80%;
        display: flex;
        margin-bottom: 15px;
    }
    .reviews__img {
        left: 30%;
        margin-right: 0;
        transform: translate(0);
    }
    .reviews__text {
        width: 100%;
    }
/* LATEST BLOGS */
    .latest-case {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .latest__item {
        flex: none;
        width: 80%;
        &:nth-child(2){
            margin: 5% 0;
        }
    }
/* FOOTER */
    .footer-container {
        height: auto;
    }
    .footer-case {
        flex-flow: wrap;
        justify-content: space-between;
    }
    .links__text {
        margin: 15px 0;
    }
    .links {
        order: 1;
        width: 100%;
        margin-top: 5%;
    }
    .blogs__item {
        align-items: flex-start;
        margin-top: 15px;
    }
    .blogs {
        width: 50%;
    }
    .inst {
        width: 50%;
    }
    .row-before .fab {
        margin: 0 5px;
    }
    .links__input {
        margin-top: 15px;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 425px) {
/* HEADER BOTTOM */
    .header-bottom {
        display: none;
    }
    .header-title__sub {
        font-size: 30px;
        line-height: 55px;
    }
    .header-title__sup {
        line-height: 65px;
        font-size: 55px;
    }
/* MAIN STATISTICK */
    .statistick-row {
        height: auto;
    }
    .statistick-row__container {
        width: 100%;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .statistick-row__block {
        width: 90%;
        margin: 2.5%;
        padding: 2.5%;
        border-top: 1px solid #b5eae0;
        border-bottom: 1px solid #b5eae0;
        border-left: none;
        border-right: none;
    }
/* MAIN FEEDBACK */
    .content {
        width: 100%;
        flex-flow: column;
        .feedback__text {
            width: 100%;
            padding: 15px 0;
        }
    }
    .check {
        width: 40px;
        height: 40px;
        margin: 0 7.5px;
    }
    .feedback__arrow {
        width: 60px;
        height: 60px;
        &.left {
            left: 50%;
            transform: rotate(-90deg) translate(-50%, -275%);
        }
        &.right {
            right: 50%;
            transform: rotate(90deg) translate(50%, -275%);
        }
    }
    .feedback-messege {
        width: 100px;
        height: 100px;
        &.slide-02, &.slide-05 {
            width: 100px;
            height: 100px;
        }
        &.slide-03, &.slide-06 {
            width: 100px;
            height: 100px;
        }
    }
    .feedback-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
    }
/* MAIN OUR TEAM */
    .our-team {
        padding-top: 10%;
    }
/* MAIN SERVICES */
    .services__element {
        width: 90%;
    }
    .line {
        width: 90%;
    }
/* PEOPLE REVIEWS */
    .people {
        padding-top: 10%;
    }
    .reviews__img {
        display: none;
    }
    .reviews__item {
        width: 90%;
    }
/* ABOUT US GALLERY */
    .gallery {
        .gallery__block {
            width: 90%;
        }
    }
    .gallery-case {
        width: 90%;
    }
/* LATEST BLOGS */
    .latest__item {
        width: 90%;
    }
/* FOOTER */
    .footer-case {
        flex-flow: wrap;
        justify-content: center;
    }
    .blogs {
        width: 90%;
        align-items: center;
    }
    .blogs__item {
        justify-content: center;
        align-items: center;
    }
    .blogs__img {
        max-width: 150px;
        img {
            width: 100%;
        }
    }
    .blogs__text {
        width: auto;
        margin-top: 5%;
        align-items: center;
    }
    .inst {
        width: 90%;
        margin-top: 5%;
        align-items: center;
        .inst__logo {
            width: auto;
            margin-bottom: 5%;
        }
        .inst__link {
            width: auto;
            margin-top: 5%;
        }
    }
}

// Mega-extra small devices (portrait phones)
@media (max-width: 375px) {
/* HEADER BOTTOM */
    .header-title__sub {
        font-size: 25px;
        line-height: 55px;
    }
    .header-title__sup {
        line-height: 65px;
        font-size: 45px;
    }
/* ABOUT US TITLE */
    .title{
        &__sub {
            font-size: 22px;
            margin-bottom: 5px;
        }
        &__sup {
            margin: 10px auto 0 auto;
            text-align: center;
            font-size: 25px;
        }
    }
}
