@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}
.end-line-case, .info-case, .advertising-case, .product-case, .slider-case, .sup-menu, .sup-menu-case, .sub-menu, .sub-menu-case {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: #E5E5E5;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}

header, main, footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-menu-case {
  width: 100%;
}

.sub-menu {
  width: 100%;
  max-width: 1160px;
}
.sub-menu__link {
  margin: 17px 15px 16px;
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}
.sub-menu__link:first-child {
  margin-left: 25px;
}
.sub-menu__link:last-child {
  margin-right: 25px;
}

.logo-case {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
}
.logo-case::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #E5E5E5;
  bottom: -1px;
}

.logo {
  width: 100%;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 25px 0 20px 25px;
}
.logo__img {
  /*404*/
}
.logo__txt {
  margin: 0 20px;
  line-height: 36px;
  position: relative;
  text-decoration: none;
  color: #66C05D;
  cursor: pointer;
  font-weight: 700;
  font-size: 36px;
}
.logo__txt::before {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  position: absolute;
  top: -4px;
  left: 50%;
  z-index: 1;
  background: #66C05D;
  transform: translateX(-50%);
  transition: all 0.25s linear;
}
.logo__txt::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  z-index: 1;
  background: #66C05D;
  transform: translateX(-50%);
  transition: all 0.25s linear;
}
.logo__txt:hover::before, .logo__txt:hover::after {
  width: 115%;
}
.logo__txt:active::before, .logo__txt:active::after {
  width: 115%;
}

.connection {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.connection__number {
  margin: 0 40px 0;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}
.connection__btn {
  width: 170px;
  height: 40px;
  outline: none;
  border: 2px solid #66C05D;
  border-radius: 25px;
  background: none;
  color: #000000;
  cursor: pointer;
  transition: all 0.15s linear;
}
.connection__btn:hover {
  color: #FFFFFF;
  background: #66C05D;
}
.connection__btn:active {
  transition: all 0.1s linear;
  box-shadow: inset 0px 0px 2.5px 1px rgba(0, 0, 0, 0.25);
}

.sup-menu-case {
  width: 100%;
  background: #FFFFFF;
}

.sup-menu {
  width: 100%;
  max-width: 1160px;
  margin: 30px 0 25px;
}
.sup-menu__link {
  margin: 0px 20px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}
.sup-menu__link:first-child {
  margin-left: 25px;
}
.sup-menu__link:last-child {
  margin-right: 25px;
}

.hover-line > a {
  position: relative;
}
.hover-line > a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  z-index: 1;
  background: #333333;
  transform: translateX(-50%);
  transition: all 0.25s linear;
}
.hover-line > a:hover::after {
  width: 100%;
}

.slider-case {
  width: 100%;
  height: 604px;
  background: url(../img/bg.png) center no-repeat;
  background-size: cover;
}

.slider {
  width: 100%;
  height: 100%;
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider__title {
  margin: 0 25px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 48px;
}
.slider__text {
  width: 308px;
  margin: 50px 25px;
  line-height: 20px;
  color: #FFFFFF;
}
.slider__btn {
  width: 170px;
  height: 40px;
  margin: 0 25px;
  outline: none;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  background: none;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.15s linear;
}
.slider__btn:hover {
  color: #66C05D;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
}
.slider__btn:active {
  transition: all 0.1s linear;
  box-shadow: inset 0px 0px 2.5px 1px rgba(0, 0, 0, 0.25);
}

.product-case {
  width: 100%;
}

.product {
  width: 100%;
  max-width: 1110px;
  margin: 80px 25px 100px;
  position: relative;
}
.product__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 38px;
}
.product__img {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}

.item-case {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  gap: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  min-width: 220px;
  height: 363px;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
.item__img {
  /*404*/
}
.item__txt {
  text-align: center;
  color: #333333;
}
.item__num {
  letter-spacing: 0.05em;
  color: #000000;
  font-weight: 500;
  font-size: 21px;
}
.item__btn {
  width: 130px;
  height: 35px;
  z-index: 2;
  outline: none;
  border: 0;
  border-radius: 25px;
  border: 2px solid #66C05D;
  background: #66C05D;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.15s linear;
}
.item__btn:hover {
  color: #66C05D;
  background: #FFFFFF;
}
.item__btn:active {
  transition: all 0.1s linear;
  box-shadow: inset 0px 0px 2.5px 1px rgba(0, 0, 0, 0.25);
}

.advertising-case {
  width: 100%;
}

.advertising {
  width: 100%;
  max-width: 1160px;
  margin-bottom: 132px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advertising__block {
  width: 540px;
  height: 212px;
  margin: 25px;
  position: relative;
  background: #66C05D;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
.advertising__cont {
  width: 250px;
  height: 100%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
.advertising__title {
  margin: 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
}
.advertising__text {
  margin: 25px 0 25px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
}
.advertising__mail {
  width: 225px;
  height: 35px;
  outline: none;
  background: #FFFFFF;
  border: #FFFFFF 2px solid;
  border-radius: 25px;
  padding-left: 25px;
  transition: all 0.25s linear;
  color: #FFFFFF;
}
.advertising__mail::placeholder {
  transition: all 0.25s linear;
  color: #C4C4C4;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}
.advertising__mail:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
}
.advertising__mail:focus {
  background: #66C05D;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
}
.advertising__mail:focus::placeholder {
  color: #FFFFFF;
}
.advertising__img {
  width: 26%;
  position: absolute;
  z-index: 1;
  right: 45px;
  top: 50%;
  transform: translateY(-50%);
}
.advertising__btn {
  width: 170px;
  height: 35px;
  outline: none;
  background: #66C05D;
  border: #FFFFFF 2px solid;
  border-radius: 25px;
  color: #FFFFFF;
  transition: all 0.25s linear;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}
.advertising__btn:hover {
  color: #66C05D;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
}
.advertising__btn:active {
  transition: all 0.1s linear;
  box-shadow: inset 0px 0px 2.5px 1px rgba(0, 0, 0, 0.25);
}

.info-case {
  width: 100%;
  background: #FFFFFF;
}

.info {
  width: 100%;
  max-width: 1160px;
  margin: 37px 0 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info__links {
  min-width: 236px;
  margin: 0 25px;
  display: flex;
  justify-content: space-between;
}
.info .fab-case {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #66C05D solid 2px;
  border-radius: 50%;
  transition: all 0.25s linear;
  cursor: pointer;
}
.info .fab-case .fab {
  color: #66C05D;
  font-size: 26px;
  transition: all 0.25s linear;
}
.info .fab-case:hover {
  background: #66C05D;
}
.info .fab-case:hover .fab {
  color: #FFFFFF;
}
.info .fab-case:active {
  transition: all 0.1s linear;
  box-shadow: inset 0px 0px 2.5px 1px rgba(0, 0, 0, 0.25);
}
.info__adress {
  margin: 0;
  color: #000000;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}

.end-line-case {
  width: 100%;
}

.end-line {
  width: 100%;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.end-line p {
  margin: 25px;
}

@media (max-width: 1200px) {
  .product {
    max-width: none;
  }

  .product__title {
    text-align: center;
    margin-left: 0;
  }

  .item-case {
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
  }

  .item:last-child {
    grid-column: 2/3;
  }
}
@media (max-width: 992px) {
  .connection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .connection__number {
    margin: 0 0 10px;
  }
}
@media (max-width: 880px) {
  .product {
    margin-bottom: 0;
  }

  .item-case {
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
  }

  .advertising {
    flex-direction: column;
    margin-bottom: 0;
  }
  .advertising__block {
    width: 90%;
  }
  .advertising__block:first-child {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .item-case {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }

  .info {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
  }

  .info__links {
    order: 1;
  }

  .info__adress {
    order: 0;
    margin: 25px 0;
  }

  .connection._second {
    flex-direction: row;
    margin: 0;
    order: -1;
  }
  .connection._second .connection__number {
    margin: 0 15px 0 0;
  }
}
@media (max-width: 695px) {
  .sup-menu {
    height: 50px;
    flex-flow: row wrap;
    align-content: space-between;
  }
  .sup-menu__link {
    margin: 0 25px;
  }
}
@media (max-width: 576px) {
  .logo {
    display: flex;
    justify-content: center;
  }
  .logo__name {
    margin: 25px 0 20px;
  }

  .connection._first {
    display: none;
  }

  .item-case {
    display: flex;
    flex-flow: row wrap;
  }
}
@media (max-width: 434px) {
  .connection__number {
    display: none;
  }

  .sub-menu-case {
    display: none;
  }

  .sup-menu {
    height: 100px;
    flex-flow: row wrap;
    align-content: space-between;
  }
  .sup-menu__link {
    margin: 0 25px;
  }

  .slider__text {
    width: auto;
  }

  .advertising__block {
    margin-left: 0;
    margin-right: 0;
  }

  .advertising__cont {
    width: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0 25px;
  }

  .end-line {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .end-line p {
    text-align: center;
    margin: 25px;
  }
  .end-line p:last-child {
    margin-top: 0;
  }

  .advertising__mail {
    width: 80%;
  }
}