@charset "UTF-8";
/* RULES*/
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Black.ttf") format("truetype");
	font-weight: 900;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf") format("truetype");
	font-weight: 800;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf") format("truetype");
	font-weight: 700;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf") format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
}
.footer-case, .nav {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
}

.footer_download, .footer_item, .footer, .login__form, .login-case, .main, .cart__price_btn, .order__сancel .fas, .order__title, .cart__row, .nav__cart > i {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: none;
	border: none;
	outline: none;
	list-style-type: none;
}

/* HEADER */
.header {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	position: fixed;
	z-index: 2;
	top: 0;
	background: #ffffff;
	box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid #cccccc;
}

/* HEADER MENU */
.nav {
	display: grid;
	grid-gap: 25px;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
}

/* HEADER MENU INFO */
.nav__info {
	min-width: 330px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.nav__contacts {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-right: 25px;
}

.nav__place {
	display: flex;
	align-items: center;
}
.nav__place .fas {
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
	margin-right: 5px;
	font-size: 20px;
	color: #ff7675;
}
.nav__place h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #38454F;
}

/* HEADER MENU LOGO */
.nav__logo {
	justify-self: center;
	align-self: center;
	display: flex;
	color: #38454F;
	text-decoration: none;
	transition: color 0.15s linear;
}
.nav__logo:hover {
	color: #ff7675;
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
}
.nav__logo img {
	width: 65px;
}

.nav__logo_text {
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding-left: 10px;
	font-family: "Montserrat", sans-serif;
	line-height: 25px;
}
.nav__logo_text span:first-child {
	font-size: 30px;
	font-weight: 900;
}
.nav__logo_text span:last-child {
	padding-left: 15px;
	font-size: 35px;
	font-weight: 900;
}

/* HEADER MENU ACCOUNT */
.nav__acc {
	min-width: 300px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

.nav__login {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav__login a:last-child {
	margin-left: 25px;
}

.nav__cart {
	width: 75px;
	height: 75px;
	margin-left: 25px;
	position: relative;
	text-decoration: none;
}
.nav__cart:hover .fas {
	color: #FFFFFF;
	background: #ff7675;
}
.nav__cart:hover .nav__sum {
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0);
}
.nav__cart:active i {
	font-size: 35px;
}

.nav__cart > i {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	font-size: 45px;
	color: #ff7675;
	transition: all 0.2s linear;
	transition: font-size 25ms;
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
}
.nav__cart > i:active {
	font-size: 40px;
}

.nav__sum {
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	transform: translate3d(-4px, 10px, 0);
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: #333333;
	font-size: 18px;
	transition: all 0.2s linear;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.2);
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
}

.nav__account {
	position: absolute;
	z-index: 1;
	right: 100px;
	top: 50%;
	transform: translate(0, -50%);
}

.nav__account_disable {
	/* ОТКЛЮЧЕНИЕ ЛИЧНОГО КАБИНЕТА */
	display: none;
}

/* CART FORM */
.cart {
	width: 500px;
	height: auto;
	min-height: 400px;
	padding: 0 15px 100px;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	top: 85px;
	transform: translate(60%);
	z-index: 3;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	background: #ffffff;
	border-radius: 15px;
	border-top-right-radius: 0;
}

.cart_disable {
	/* ОТКЛЮЧЕНИЕ ФУНКЦИИ КОРЗИНЫ */
	display: none;
}

.cart__row {
	width: 100%;
	padding: 15px 0;
	border-bottom: 1px solid #333333;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	color: #38454F;
	letter-spacing: 1px;
}
.cart__row .cart__product {
	width: 50%;
	text-align: left;
}
.cart__row .cart__quantity {
	width: 25%;
	text-align: center;
}
.cart__row .cart__sum {
	width: 15%;
	text-align: center;
}
.cart__row .cart__cancel {
	width: 10%;
	position: relative;
}
.cart__row .cart__cancel::after {
	content: "";
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	background: #ff7675;
	border-radius: 50%;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.order {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 100%);
	position: relative;
}

.order__clean {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	background: #ffffff;
}
.order__clean .order__background {
	width: 100%;
	height: 100%;
	background: no-repeat center url("../img/main/slides/slide1.jpeg");
}

.order__clean_disable {
	/* ОТКЛЮЧЕНИЕ ФУНКЦИИ ПУСТОЙ КОРЗИНЫ */
	display: none;
}

.order__title {
	width: 70%;
	height: 100px;
	flex-flow: column;
	position: relative;
	background-color: rgba(56, 69, 79, 0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
}
.order__title::after {
	content: "";
	width: 2px;
	height: 80%;
	display: block;
	position: absolute;
	z-index: 1;
	right: -1px;
	top: 50%;
	transform: translateY(-50%);
	background: #ffffff;
}
.order__title::before {
	content: "";
	width: 2px;
	height: 80%;
	display: block;
	position: absolute;
	z-index: 1;
	left: -1px;
	top: 50%;
	transform: translateY(-50%);
	background: #ffffff;
}

.order__title_sub {
	width: 100%;
	text-align: center;
	position: relative;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: 900;
	color: #ffffff;
}
.order__title_sub::before {
	content: "";
	width: 115%;
	height: 2px;
	display: block;
	position: absolute;
	z-index: 1;
	top: -18px;
	left: 50%;
	transform: translateX(-50%);
	background: #ffffff;
}

.order__title_sup {
	width: 100%;
	text-align: center;
	position: relative;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 800;
	color: #ffffff;
}
.order__title_sup::after {
	content: "";
	width: 115%;
	height: 2px;
	display: block;
	position: absolute;
	z-index: 1;
	bottom: -18px;
	left: 50%;
	transform: translateX(-50%);
	background: #ffffff;
}

.order-row {
	width: 100%;
	display: grid;
	padding: 15px 0;
	grid-template-columns: repeat(4, 50% 25% 15% 10%);
	place-items: center center;
	border-bottom: 1px solid #333333;
}
.order-row:hover .order__sum::after {
	width: 100%;
}
.order-row:hover .order__product .order__img img {
	transform: scale(1.2);
}

.order__product {
	justify-self: start;
	display: flex;
}

.order__img {
	width: 75px;
	height: 75px;
	overflow: hidden;
	border-radius: 15px;
}
.order__img img {
	height: 75px;
	border-radius: 15px;
	transition: 0.2s;
}

.order__info {
	margin: 0 10px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
.order__info h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #38454F;
}
.order__info h1:first-child {
	font-size: 16px;
}
.order__info h1:last-child {
	margin-top: 5px;
	font-size: 14px;
}

.order__quantity {
	width: 80%;
	height: 30px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: #ffffff;
	background: #ff7675;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.order__quantity span {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: inherit;
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
}
.order__quantity button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 15px;
	color: inherit;
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: 0.2s;
}
.order__quantity button:hover {
	background: #ffffff;
	color: #ff7675;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.order__quantity button:active {
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.order__sum {
	position: relative;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #38454F;
}
.order__sum::after {
	content: "";
	width: 0;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 1;
	transform: translateX(-50%);
	background: #38454F;
	transition: 0.2s;
}

.order__сancel {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: #ffffff;
	background: #ff7675;
	font-size: 15px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: 0.2s;
}
.order__сancel .fas {
	width: 100%;
	height: 100%;
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
}
.order__сancel:hover {
	font-size: 30px;
	color: #ff7675;
	background: none;
	box-shadow: none;
}
.order__сancel:active {
	font-size: 25px;
	transition: 0.025s;
}

.cart__price {
	width: 100%;
	height: 100px;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	z-index: 1;
	border-radius: 15px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.cart__price_sum {
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
	font-weight: 600;
	color: #38454F;
	line-height: 30px;
	letter-spacing: 1px;
	color: #38454F;
}
.cart__price_sum span {
	position: relative;
	font-size: 20px;
	font-weight: 400;
}
.cart__price_sum span .fas {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(80%, 60%);
	z-index: 1;
	font-size: 15px;
}

.cart__price_btn {
	padding: 15px 20px;
	border-radius: 15px;
	background: #FF7675;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
	color: #ffffff;
	letter-spacing: 1px;
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 5px 1.5px rgba(0, 0, 0, 0.2);
	transition: all 0.1s linear;
	cursor: pointer;
}
.cart__price_btn:active {
	box-shadow: inset 0px 0px 5px 1.5px rgba(0, 0, 0, 0.2);
}

/* HEADER NAV LINKS*/
.nav__links {
	position: relative;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #38454F;
}
.nav__links .fas {
	margin-right: 2px;
}

.hover-line::after {
	content: "";
	width: 0;
	height: 1px;
	display: block;
	position: absolute;
	z-index: 1;
	bottom: -3px;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.2s ease-in-out;
	background: #ff7675;
}
.hover-line:hover {
	color: #ff7675;
}
.hover-line:hover::after {
	width: 100%;
}

.header {
	position: relative;
	z-index: 3;
}

/* MAIN */
.main {
	width: 100%;
	height: 90vh;
	background: #eeeeee;
}

.login {
	width: 70%;
	min-width: 400px;
	height: 80%;
	min-height: 500px;
	display: flex;
	position: relative;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	background: #ffffff;
	border-radius: 15px;
	overflow: hidden;
}
.login:hover .login__img .login__background {
	transform: scale(1.02);
}

.login__img {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.login__background {
	width: 100%;
	height: 100%;
	transition: all 0.2s linear;
	background: no-repeat center url("../img/main/background.jpg");
}

.login-case {
	width: 60%;
	max-width: 500px;
	min-width: 400px;
	height: 100%;
	min-height: 400px;
	flex-flow: column;
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	background: #ffffff;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.login__title {
	width: 85%;
	margin-bottom: 5%;
	position: relative;
}
.login__title h1 {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 400;
	color: #38454F;
	line-height: 30px;
	letter-spacing: 1px;
}

.login__form {
	width: 85%;
	flex-flow: column;
}

.login__choice {
	width: 100%;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.login__choice input {
	width: 42.5%;
}
.login__choice span {
	font-family: "Montserrat", sans-serif;
	text-transform: lowercase;
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
	color: #38454F;
}

.input {
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
	padding: 15px;
	border: 1px solid #38454F;
	border-radius: 10px;
	background: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #38454F;
	transition: all 0.1s linear;
}
.input::placeholder {
	opacity: 0.8;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 1px;
	color: #38454F;
}
.input:hover, .input:focus {
	border: 1px solid #FF7675;
	box-shadow: 0px 0px 5px 1.5px rgba(0, 0, 0, 0.2);
}

.button {
	width: 60%;
	height: 50px;
	margin-top: 5%;
	border: 1px solid #38454F;
	border-radius: 15px;
	background: #ffffff;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
	color: #38454F;
	letter-spacing: 1px;
	transition: all 0.1s linear;
	cursor: pointer;
}
.button:hover {
	border: 0;
	background: #FF7675;
	color: #ffffff;
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 5px 1.5px rgba(0, 0, 0, 0.2);
}
.button:active {
	box-shadow: inset 0px 0px 5px 1.5px rgba(0, 0, 0, 0.2);
}

/* FOOTER */
.footer {
	width: 100%;
	height: 100px;
	background: #ffffff;
	box-shadow: 0 -1.5px 3px rgba(0, 0, 0, 0.15);
	border-top: 1px solid #cccccc;
}

.footer-case {
	height: 100%;
	padding: 5px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* FOOTER CONTACTS */
.footer__contacts-case {
	height: 100%;
	width: 25%;
	min-width: 200px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
}

.footer__contacts_title {
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}
.footer__contacts_title .fas {
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
	margin-right: 5px;
	font-size: 18px;
	color: #ff7675;
}

.footer__links {
	margin-bottom: 5px;
	position: relative;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #38454F;
}

/* FOOTER SOCNET */
.footer__soc {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.footer__net {
	width: 60%;
	margin-top: 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.footer_item {
	width: 35px;
	height: 35px;
	color: #ffffff;
	text-decoration: none;
	background: #38454F;
	border-radius: 50%;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	transition: all 0.2s linear;
}
.footer_item .fab {
	font-size: 20px;
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
	transition: all 0.2s linear;
}
.footer_item:hover {
	background: none;
	box-shadow: none;
	color: #ff7675;
}
.footer_item:hover .fab {
	font-size: 35px;
}
.footer_item:active .fab {
	font-size: 30px;
	transition: all 0.03s linear;
}

/* FOOTER APPS */
.footer__app {
	height: 100%;
	width: 25%;
	min-width: 200px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
}

.footer__app-title {
	display: flex;
	align-items: center;
	position: relative;
}
.footer__app-title:first-child {
	border-bottom: 3px solid #ff7675;
}

.footer_download {
	width: 35px;
	height: 35px;
	margin: 5px 0 5px 5px;
	color: #ffffff;
	text-decoration: none;
	background: #38454F;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
	transition: all 0.2s linear;
}
.footer_download .fab {
	transition: all 0.2s linear;
}
.footer_download:hover {
	background: none;
	box-shadow: none;
	color: #ff7675;
}
.footer_download:hover .fa-google-play {
	font-size: 30px;
}
.footer_download:hover .fa-apple {
	font-size: 35px;
}
.footer_download:active .fa-google-play {
	font-size: 25px;
	transition: all 0.03s linear;
}
.footer_download:active .fa-apple {
	font-size: 30px;
	transition: all 0.03s linear;
}

.fa-google-play {
	font-size: 20px;
	transform: translate(5%, -5%);
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
}

.fa-apple {
	font-size: 25px;
	transform: translateY(-5%);
	text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.25);
}

.footer__h1 {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #38454F;
	letter-spacing: 1px;
}

.footer {
	position: relative;
	z-index: 3;
}