footer(class="footer")
    // INFO SECTION
    div(class="footer-case")
        section(class="footer__left")
            h1 AOD New York
            i 2250 Lexington Avenue
            i New York, NY10035 - info@domain.com
        section(class="footer__center")
            a(href="#")
                img(src="img/footer/twitter.png")
            a(href="#")
                img(src="img/footer/facebook.png")
            a(href="#")
                img(src="img/footer/pinterest.png")
        section(class="footer__right")
            i Handcrafted by
            img(src="img/footer/title.png")
