header.header
    // NAV LINKS SECTION
    section.nav
        a(class="nav__item hover-line" href="#")
            p(class="_text") about us
        span .
        a(class="nav__item hover-line" href="#")
            p(class="_text") work
        a(class="nav__item _img" href="index.html")
            img(src="img/logo.png")
        a(class="nav__item hover-line" href="#")
            p(class="_text") shop
        span .
        a(class="nav__item hover-line" href="#")
            p(class="_text") contact
